@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', Sans-Serif;
}

body {
    margin: 0;
    padding: 1px 1px;
    font-family: Arial, sans-serif;
    background-color: #212121;
}

.hidden {
    display: none; 
}

.logo {
    color: blue;
    font-size: 24px;
    text-align: center;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
}

img {
  text-align: center;
}

section {
  justify-content: center;
  align-content: center;
  background-color: #101010;
  margin-bottom: 10px;
  text-align: center;
  border: 15px 15px 15px 15px;
  border-block: 15px 15px 15px 15px;
}
footer{
     text-align: center;
            padding: 0;
            background-color: #61dafb;
            color: #fff;
            position: relative;
            bottom: 0;
            text-align: center;
            box-shadow: #4e4e4e;
}

.container {
    align-items: center;
   color: #61dafb;
}

.sonia {
  display: flex;
  text-align: center;
}

h2{
  color: #61dafb;
  text-align: center;
}
h1 {
  text-align: center;
  color: #61dafb;
}
p{
  color: #ffff;
  text-shadow: 0 0 10px #4e4e4e;
}

.container h1 {
  font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.container h1 span{
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
.container .typewriter {
  font-size: clamp(1rem, 1rem + 5vw, 2.5rem
  );
  font-weight: 600;
}
 
.container .typewriter-text {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
 
.container p{
  font-size: clamp(0.4rem, 0.2rem + 9vw, 1.8rem);
  margin: 10px 0;
}

.social-icons {
  text-align: center;
  box-shadow: 0 0 8px #414141;
}
.social-icons a{

    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #61dafb;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #61dafb;
}

.social-icons a:hover{

    color: black;

    transform: scale(1.3) translateY(-5px);
    background-color: #61dafb;
    box-shadow: 0  0 25px #61dafb;
}
.full-width-image {
  text-align: center;
  width: 350px;
    height: 50vh;
    border-radius: 2%;
    box-shadow: 0 0 50px #61dafb;
}